:root{
  margin: 0;
  padding: 0;
}

header {
  background-color: darkgrey;
  text-align: center;
  align-content: center;
  height: 10em;
}

aside{
  background-color: lightgrey;
  height: 100vh;
  text-align: center;
  margin: 0;
  padding: 0px;
}

main{
  background-color: yellowgreen;
  height: 100vh;
  text-align: center;
  margin: 0;
  padding: 0px;
}